<html ng-app="KnotsApp">
<head>
    <link href="/assets/bs/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="/assets/bs/css/bootstrap-theme.css" rel="stylesheet" media="all">
    <link href="/assets/md/simplemde.min.css" rel="stylesheet" media="all">

    <link href="/assets/css/main.css" rel="stylesheet" media="all">

    <script src="/assets/js/core/jquery-1.12.0.js"></script>
    <script src="/assets/bs/js/bootstrap.js"></script>
    <script src="/assets/md/simplemde.min.js"></script>
    <script src="/assets/md/marked.min.js"></script>


    <script src="/assets/js/core/angular.min.js"></script>
    <script src="/assets/md/angular-marked.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.8.1/angular-translate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.7.2/angular-translate-interpolation-messageformat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.7.2/angular-translate-storage-cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.7.2/angular-translate-storage-local.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.7.2/angular-translate-loader-url.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.7.2/angular-translate-loader-static-files.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-handler-log/2.7.2/angular-translate-handler-log.js"></script>


    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/app.js"></script>

</head>

<body ng-controller="MainCtr"  class="ng-cloak">
<div class="row">
    <div class="col-lg-12 head">
        <h1>Knots</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 main">
        <article ng-repeat="knot in knots">
            <h3 class="title">{{ knot.title }}</h3>
            <div marked="knots[$index]['raw']"></div>

            <p><a ng-click="remove('knot', knot.id)">Remove</a></p>
        </article>
    </div>
    <div class="col-lg-3 side">
        <a data-toggle="modal" data-target="#addNew">Add New</a>
    </div>

</div>




<!-- Modal -->
<div id="addNew" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Knot</h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-12">
                    <input type="text" ng-model="new.title">
                </div>
                <div class="col-lg-12">
                    <textarea id="new-knot" class="editor"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="postNew()">Post</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>