<html ng-app="KnotsApp">
<head>
    <link href="/assets/bs/css/bootstrap.css" rel="stylesheet" media="all">
    <link href="/assets/bs/css/bootstrap-theme.css" rel="stylesheet" media="all">
    <link href="/assets/md/simplemde.min.css" rel="stylesheet" media="all">

    <link href="/assets/css/main.css" rel="stylesheet" media="all">

    <script src="/assets/js/core/jquery-1.12.0.js"></script>
    <script src="/assets/js/core/date.format.min.js"></script>
    <script src="/assets/bs/js/bootstrap.js"></script>
    <script src="/assets/md/simplemde.min.js"></script>
    <script src="/assets/md/marked.min.js"></script>


    <script src="/assets/js/core/angular.min.js"></script>
    <script src="/assets/md/angular-marked.min.js"></script>

    <script src="/assets/js/core/angular-sanitize.js"></script>

    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/services.js"></script>
    <script src="/assets/js/controllers/router.js"></script>
    <script src="/assets/js/controllers/one.js"></script>
</head>

<body  ng-controller="RouterCtr"  class="ng-cloak">
<div class="row" >
    <div class="col-lg-12 head">
       <h1 ng-click="router('main')">Knots</h1>

        <a ng-click="router('one', 'new')" class="open-editor" data-toggle="modal" data-target="#editor">New +</a>
    </div>
</div>

<div ng-controller="CollectionCtr" class="row" ng-show="isRoute('main')">
    <div class="col-lg-8 main">
        <article class="knot" ng-repeat="knot in knots">
            <h2 class="title title-link" ng-if="knot.title" ng-click="router('one', knot.id)">{{ knot.title }}</h2>
            <div class="knot-control">
                <span class="knot-info">{{ Tools.date(knot.created) }}</span>
            </div>

            <div marked="Tools.cut(knots[$index]['raw'], 1000)"></div>
        </article>
    </div>
</div>

<div ng-controller="OneCtr" class="row" ng-show="isRoute('one')">
    <div class="col-lg-8 main">
        <article class="knot" ng-if="knot">
            <h2 class="title" ng-if="knot.title">{{ knot.title }}</h2>
            <div class="knot-control">
                <span class="knot-info">{{ Tools.date(knot.created) }}</span>
                <a ng-click="remove('knot', knot)">Delete</a> &nbsp;
                <a ng-click="edit('knot', knot)" class="open-editor" data-toggle="modal" data-target="#editor">Edit</a>
            </div>

            <div marked="knot.raw"></div>
        </article>
    </div>

    <!-- Modal -->
    <div id="editor" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Knot</h4>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-12">
                        <input type="text" ng-model="knot.title">
                    </div>
                    <div class="col-lg-12">
                        <textarea id="knot-editor" class="editor"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="postNew()">Post</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-controller="OneCtr" class="row" ng-show="isRoute('404')">
    <div class="col-lg-8 main">
        <h2>404 Not found</h2>
    </div>
</div>

</body>
</html>